@(message: String, marketList: List[Market], isLoggedIn: Boolean, farmer: Farmer)

@Main("Welcome to markets.", isLoggedIn, farmer) {
    <div class="container">
        <div class="well"><h1><i class="fa fa-leaf"></i> Farmers Markets</h1></div>
        <div class="row">
            <div class="col-md-12">
                <a href="#stateFilter" class="btn btn-default" data-toggle="collapse">Filter by Region</a>
                <div id="stateFilter" class="collapse">
                    <table class="table table_striped">
                        <tr><td><a href="@routes.Application.farmersMarkets()">All</a></td><td><a href="@routes.Application.farmersMarkets("North")">North</a></td><td><a href="@routes.Application.farmersMarkets("South")">South</a></td><td><a href="@routes.Application.farmersMarkets("East")">East</a></td><td><a href="@routes.Application.farmersMarkets("West")">West</a></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="well">
            <ul class="list-group">
            @for(market <- marketList) {
                <div class="row">
                    <div class="col-sm-12">
                        <li class="list-group-item"><h4><a href="#@market.getMarketName">@market.getMarketName</a></h4>
                            <ul><li><h6><a href="https://www.google.com/maps/place/@market.getLocation">@market.getLocation</a></h6></li></ul>
                        </li>
                    </div>
                </div>
            }
            </ul>
        </div>

        @for(market <- marketList) {
            <div class="row">
            <h3><a name="@market.getMarketName"></a>@market.getMarketName</h3>
            @for(farmer <- market.getFarmers) {
                <div class="col-sm-4">
                    <div class="well produce_image" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(@routes.Assets.at(farmer.getPictureLocation()));">
                        <a href="@routes.Application.farmersProfile(farmer.getName)">@farmer.getName()</a>
                    </div>
                </div>
            }
            </div>
        }
    </div>
}