@(message: String, marketList: List[Market], isLoggedIn: Boolean, farmer: Farmer)

@Main("Welcome to markets.", isLoggedIn, farmer) {
    <div class="container">
        <div class="well"><h1><i class="fa fa-leaf"></i> Farmers Markets</h1></div>
        <div class="row">
            <div class="col-md-2">
                <a href="#stateFilter" class="btn btn-default" data-toggle="collapse">Filter by Region</a>
                <div id="stateFilter" class="collapse">
                    <table class="table table_striped">
                        <tr><td><a href="@routes.Application.farmersMarkets()">All</a></td><td><a href="@routes.Application.farmersMarkets("North")">North</a></td><td><a href="@routes.Application.farmersMarkets("South")">South</a></td><td><a href="@routes.Application.farmersMarkets("East")">East</a></td><td><a href="@routes.Application.farmersMarkets("West")">West</a></td></tr>
                    </table>
                </div>
            </div>
            </div>
        <br>
            <div class="row">@for(market <- marketList) {
                <div class="col-md-4">
                    <div class="well" style="height:200px;">
                        <h4><a href="#@market.getMarketName">@market.getMarketName</a></h4>
                            <h4><a href="https://www.google.com/maps/place/@market.getLocation">@market.getLocation</a></h4>
                        <h4>@market.getTime()</h4>
                </div>
                    </div>
            }</div>

        @for(market <- marketList) {
            <div class="row">
            <h3><a name="@market.getMarketName"></a><i class="fa fa-leaf"></i> @market.getMarketName</h3>
            @for(farmer <- market.getFarmers) {
                <div class="col-sm-3">
                    <div class="well produce_image" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(@routes.Assets.at(farmer.getPictureLocation()));">
                        <br>
                        <h4 style="text-align: center;"><a href="@routes.Application.farmersProfile(farmer.getName)">@farmer.getName()</a></h4>
                    </div>
                </div>
            }
            </div>
        }
    </div>
}