@(message: String, recipeList: List[Recipe], isLoggedIn: Boolean, farmer: Farmer)

@Main("Meal Planner", isLoggedIn, farmer) {
    <div class="container">
        <div class="well"><h1><i class="fa fa-leaf"></i> Recipes You Can Make Right Now</h1></div>
        <div class="row">
        @for(recipe <- recipeList) {
            <div class="col-sm-3">
                <div class="well produce_image" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(@routes.Assets.at(recipe.getImagePath())); background-size: cover;">
                    <div class="recipe">
                        <br>
                        <a href="@routes.Application.recipe(recipe.getId)"><h4 style="text-align: center;">@recipe.getName</h4></a>
                        <h4 style="text-align: center;">@recipe.getDescription</h4>
                    </div>
                </div>
            </div>
        }


        </div>
    </div>
}